.c-item{
	height : 480px;
}
.c-img{
	height : 100%;
	object-fit : cover;  /* will preserve the ratio of image*/
	filter : brightness(0.7);
} 

.overview{
	height: 180px; 
	background-color: lightgray;
}